* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 242, 242);
}

.marg {
    margin-bottom: 14px;
}

.title-h2 {
    text-align: center;
    font-weight: bold;
    color: rgb(134, 134, 167);
}

.logo {
    width: 50px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1.5rem;
}

.clientes {
    margin: 1.5rem 1.5rem;
}